# Binaries
*.exe
*.dll
*.so
*.dylib

# Logs
*.log
*.sqlite
*.db

# Node
node_modules/
dist/
.env

# Go
backend/urumi-backend
backend/*.exe

# IDEs
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Kubernetes
kubeconfig.yaml
ingress-nginx.yaml

# Helm
charts/woocommerce/charts/
