apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "medusa.fullname" . }}
  labels:
    {{- include "medusa.labels" . | nindent 4 }}
spec:
  replicas: 1
  selector:
    matchLabels:
      {{- include "medusa.selectorLabels" . | nindent 6 }}
  template:
    metadata:
      labels:
        {{- include "medusa.selectorLabels" . | nindent 8 }}
    spec:
      containers:
        - name: medusa
          image: nginx:alpine
          imagePullPolicy: IfNotPresent
          ports:
            - name: http
              containerPort: 80
              protocol: TCP
          resources:
            requests:
              memory: "16Mi"
              cpu: "10m"
            limits:
              memory: "64Mi"
              cpu: "50m"
